<!-- templates/room_list.html -->
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Phòng</title>
</head>
<body>
    <h2>Danh Sách Phòng</h2>
    {% for room in rooms %}
      <div>
          <h3>{{ room.loaiphong }}</h3>
          <p>Giá: {{ room.giaphong }}</p>
          <p>Sức chứa: {{ room.succhua }} - Diện tích: {{ room.dientich }}</p>
          <p>Trạng thái: {{ room.trangthai }}</p>
          {% if room.hinhanh %}
            <img src="{{ room.hinhanh }}" alt="Hình ảnh phòng" style="max-width:300px;">
          {% else %}
            <img src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?q=80&w=2070&auto=format&fit=crop" alt="Hình ảnh mặc định" style="max-width:300px;">
          {% endif %}
      </div>
      <hr/>
    {% endfor %}
</body>
</html>
